## Techlent Data Science Bootcamp -  Python39 Practice

In [798]:
r="rules!"
print(f'Python {r}')

Python rules!

In [3]:
s = set('Mississippi')
s

{'M', 'i', 'p', 's'}

In [749]:
pwd

'C:\\Users\\jzhou01\\My Files\\Data Science\\Bootcamps\\Techlent'

#### 1. Hello World
Description:   
Build a function HelloWorld which returns "Hello World".    

Examples:    
HelloWorld( ) return "Hello World"

In [750]:
x=open('CreateTxtFile.txt',mode='w')
x.write('Hello World')

x=open('CreateTxtFile.txt',mode='r')
x.seek(0)
x.read()
x.close()

#### 2. Pound to Kilogram
Description   
Build a function LB2KG which takes a value in pound as input and returns the corresponding value in kilogram. One pound equals to 0.4536 kg.   

Examples   
LB2KG(1) returns 0.4536

In [752]:
def LB2KG ():
    pounds = int(input("please enter pounds: "))
    kg = pounds * 0.4536
    return kg

LB2KG ()

please enter pounds: 1

0.4536

#### 3. Odd Number
Description   
Build a function Odd which takes an integer as input and returns a boolin to tell whether the integer is odd or not.   

Examples   
Odd(3) returns True   
Odd(4) returns False

In [753]:
def Odd (num):
    if num % 2 == 0:
        return "False"
    else:
        return "True"


Odd(4)

'False'

#### 4. FizzBuzz
Description   
Build a function FizzBuzz which takes a positive integer as input. If the number is divisible by 3, the function returns "Fizz". If the number is divisible by 5, the function returns "Buzz". If the number is divisible by both 3 and 5, the function returns "FizzBuzz". Otherwise, the function returns the number itself.    

Examples   
FizzBuzz(45) returns "FizzBuzz"      
FizzBuzz(9) returns "Fizz"      
FizzBuzz(25) returns "Buzz"      
FizzBuzz(17) returns "17"

In [755]:
def FizzBuzz (num):
    if num % 3 == 0 and num % 5 != 0:
        return "Fizz"
    elif num % 5 == 0 and num % 3 != 0:
        return "Buzz"
    elif num % 3 == 0 and num % 5 == 0:
        return "FizzBuzz"
    else:
        return num

FizzBuzz (9)

'Fizz'

#### 5.  Square Root
Description   
Build a function sqrt to calculate the square root of a positive integer number. If the result is not a integer, the function returns the nearest integer to the left of the result number.   

Examples   
sqrt(16) returns 4   
sqrt(17) returns 4   
sqrt(77) returns 8   
sqrt(1) returns 1

In [756]:
import math

def sqrt(num):
    result = math.sqrt(num)
    # result = num ** 0.5
    # return result % 2 
    
    if result % 2 == 0:
        return int(result)
    else:
        return int(result) 

sqrt(16)

4

#### 6. List Comprehension
Description   
Build a function LstComp which takes two integers (i and j) as inputs and returns a list of numbers from i to j.   

Examples   
LstComp(1, 5) returns [1, 2, 3, 4, 5]

In [759]:
def LstComp (i,j): 
    lst = []
    for n in range(i,j+1):
        lst.append(n)
    return lst
       
LstComp (1,5)

[1, 2, 3, 4, 5]

#### 7. OddNums
Description   
Build a function OddNums which takes two integers (i and j) as inputs and returns a list of ODD numbers between i and j inclusively.   

Examples    
OddNums(1, 5) returns [1, 3, 5]    
OddNums(2, 6) returns [3, 5]    
OddNums(1, 2) returns [1]

In [760]:
def OddNums (i,j):
    lst = []
    for n in range (i,j+1):
        if n % 2 == 0: 
            pass
        else:
            lst.append(n)
    return lst

OddNums (1,5)

[1, 3, 5]

#### 8. C2F
Description    
Build a function C2F which converts a list of temperatures in degrees from Celsius to Fahrenheit. F=C*1.8+32.   

Examples   
C2F([0, 38]) returns [32.0, 100.4]

In [761]:
def C2F (C):
    F = []
    for degrees in C:
        F.append(degrees*1.8+32)
    return F   

C2F([0, 38])

[32.0, 100.4]

#### 9. Fibonacci List
Description   
The Fibonacci List is the list of numbers: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, … The next number is generated by adding up the two numbers before it. Build a function FibLst which takes an integer n as input and returns an n-element Fibonacci List. If n is less than 1, returns -1.   

Examples   
FibLst(1) returns [0]   
FibLst(3) returns [0, 1, 1]   
FibLst(6) returns [0, 1, 1, 2, 3, 5]   
FibLst(-3) returns -1

In [762]:
def FibLst (num):
    FList = []
    if num < 0:
        FList.append(-1)
    elif num == 0 or num == 1:
        FList.append(0)
    else:
        FList = [0,1] 
        for i in range (2,num):                       
            FList.append(FList[i-1] + FList[i-2])            
    return FList

FibLst(6)

[0, 1, 1, 2, 3, 5]

#### 10. Reverse List
Description   
Build a function RevLst which reverses a list.   

Examples   
RevLst([3, 1, 9, 8, 4]) returns [4, 8, 9, 1, 3]

In [763]:
def RevLst (lst):    
    lst.reverse()
    return lst    

RevLst([3, 1, 9, 8, 4])

[4, 8, 9, 1, 3]

#### 11. Whether an Element in the List
Description   
Build a function IsIn to tell whether a target element in a list.   

Examples   
IsIn([1, 2, 3, 4, 5], 2) returns True   
IsIn([1, 2, 3, 4, 5], 6) returns False

In [766]:
def IsIn (lst, num):
    for i in lst:
        if i == num:
            return True 
    return False

IsIn([1, 2, 3, 4, 5], 2)

True

In [767]:
IsIn([1, 2, 3, 4, 5], 6)

False

#### 12. Remove an Element
Description   
Build a function RmEl to remove a target element from a list. If the target element appears in the list for multiple times, only remove the first one.   

Examples   
RmEl([1, 2, 3, 4, 5], 2) returns [1, 3, 4, 5]   
RmEl([1, 2, 3, 4, 5], 6) returns [1, 2, 3, 4, 5]   
RmEl([1, 2, 3, 3, 4, 5], 3) returns [1, 2, 3, 4, 5]

In [769]:
def RmEl (lst, num):
    for i in lst:
        if i == num:
            lst.pop(i)            
            # return lst
            break
        else:
            return lst
    return lst
    
RmEl([1, 2, 3, 3, 4, 5], 3)

[1, 2, 3, 3, 4, 5]

In [90]:
RmEl([1, 2, 3, 4, 5], 6)

[1, 2, 3, 4, 5]

In [151]:
def RmEl (lst, num):
    for i in lst:
        if i == num:
            lst.pop(num-1)            
            return lst     
    return lst
    
RmEl([1, 2, 3, 3, 4, 5], 3)

[1, 2, 3, 4, 5]

In [152]:
RmEl([1, 2, 3, 4, 5], 6)

[1, 2, 3, 4, 5]

In [770]:
RmEl([1, 2, 3, 4, 5], 2)

[1, 2, 3, 4, 5]

#### 13. Separate Numbers
Description   
Build a function SepNum which extracts the odd numbers from a given list ands append the odd numbers at the end of the list.   

Examples   
SepNum([1, 2, 3, 4, 5, 6]) returns [2, 4, 6, 1, 3, 5]   
SepNum([1, 3, 5]) returns [1, 3, 5]   
SepNum([2, 4, 6]) returns [2, 4, 6]

In [772]:
def SepNum (lst):
    Odd = []
    Even = []
    for num in lst:    
        if num % 2 != 0: 
            Odd.append(num) 
        else:
            Even.append(num)
    return (Even + Odd)

SepNum([1, 2, 3, 4, 5, 6])

[2, 4, 6, 1, 3, 5]

In [357]:
SepNum([1, 3, 5])

[1, 3, 5]

In [773]:
SepNum([2, 4, 6])

[2, 4, 6]

#### 14. Remove Duplicates from a List
Description   
Build a function RmDuplicate which remove all the duplicates from a list.   

Examples   
RmDuplicate([3, 1, 2, 3, 4, 5, 6]) returns [1, 2, 3, 4, 5, 6]   
RmDuplicate([1, 3, 5]) returns [1, 3, 5]

In [360]:
def RmDuplicate (ls):
    return list(set(ls))
        
RmDuplicate([3, 1, 2, 3, 4, 5, 6])

[1, 2, 3, 4, 5, 6]

In [372]:
def RmDuplicate (ls):    
    return list(dict.fromkeys(ls))
    
RmDuplicate([3, 1, 2, 3, 4, 5, 6])

[3, 1, 2, 4, 5, 6]

In [774]:
mylist = ["a", "b", "a", "c", "c"]
mylist = list(dict.fromkeys(mylist))
print(mylist)

['a', 'b', 'c']

#### 15. Sort a List
Description   
Build a function SortLst which sorts a list. At this time you can just use the built-in function in Python.   

Examples   
SortLst([4, 2, 1, 3, 4, 5]) returns [1, 2, 3, 4, 4, 5]   
SortLst([1, 3, 5]) returns [1, 3, 5]

In [775]:
def SortLst (ls):
    ls.sort()   
    return ls
SortLst([4, 2, 1])

[1, 2, 4]

#### 16. Insert a Number in a Sorted List
Description   
Build a function NumInsert which inserts a number in a sorted list.   

Examples   
NumInsert([1, 2, 3, 4, 5, 6], 3) returns [1, 2, 3, 3, 4, 5, 6]   
NumInsert([1, 2, 3, 4, 5, 6], 7) returns [1, 2, 3, 4, 5, 6, 7]   
NumInsert([1, 2, 3, 4, 5, 6], -1) returns [-1, 1, 2, 3, 4, 5, 6]

In [776]:
def NumInsert (lst, num):
    lst.append(num)
    lst.sort() 
    return lst
      
NumInsert([1, 2, 3, 4, 5, 6], 3)

[1, 2, 3, 3, 4, 5, 6]

#### 17. Remove duplicates from a sorted list
Description    
Build a function SortRm which removes duplicate numbers in a sorted list.   

Examples   
SortRm([1, 2, 2, 3, 4, 4, 5, 6]) returns [1, 2, 3, 4, 5, 6]   
SortRm([1, 2, 3, 4, 5, 6]) returns [1, 2, 3, 4, 5, 6]

In [778]:
def SortRm  (lst):
    return list(set(lst))

SortRm([1, 2, 2, 3, 4, 4, 5, 6])

[1, 2, 3, 4, 5, 6]

#### 18. Merge Two Sorted Lists
Description   
Build a function MergeSorted which merges two sorted lists as one sorted list.   

Examples   
MergeSorted([1, 3, 5], [2, 4, 6]) returns [1, 2, 3, 4, 5, 6]   
MergeSorted([1, 2, 3], [4, 5, 6]) returns [1, 2, 3, 4, 5, 6]

In [779]:
def MergeSorted (lst1, lst2):
    return list(set(lst1 + lst2))

MergeSorted([1, 2, 3], [4, 5, 6])

[1, 2, 3, 4, 5, 6]

#### 19. List to Number
Description   
Build a function Lst2Num which convert a number list into one number.   

Examples   
Lst2Num([1, 3, 5]) returns 135   
Lst2Num([0, 1, 2, 0, 3]) returns 1203

In [489]:
def Lst2Num (lst):      
    res = sum(d * 10**i for i, d in enumerate(lst[::-1]))      
    return(res)
    
Lst2Num([0, 1, 2, 0, 3])

1203

In [488]:
# Python3 program to convert a list
# of integers into a single integer
def convert(list):
      
    # multiply each integer element with its 
    # corresponding power and perform summation  
    res = sum(d * 10**i for i, d in enumerate(list[::-1]))      
    return(res)
  
convert([1, 2, 3])

123

In [478]:
  # Python3 program to convert a list
# of integers into a single integer
def convert(list):
      
    # Converting integer list to string list
    # and joining the list using join()
    res = int("".join(map(str, list)))
      
    return res
  
# Driver code
list = [1, 2, 3]
print(convert(list))

123

In [479]:

# Python3 program to convert a list
# of integers into a single integer
def convert(list):
      
    # Converting integer list to string list
    s = [str(i) for i in list]
      
    # Join list items using join()
    res = int("".join(s))
      
    return(res)
  
# Driver code
list = [1, 2, 3]
print(convert(list))

123

In [780]:
# Python3 program to convert a list
# of integers into a single integer
  
# creating a list
lst = [12, 15, 17]
  
# iterating each element
for i in lst:
    print(i, end="")

121517

#### 20. Maximum Stock Gain
Description   
Build a function MaxGain to find the maximum you can gain by buying and selling stocks. The strock prices represented as a list of numbers. You need to buy stocks before you sell them.   

Examples   
MaxGain([3, 4, 1, 5, 7, 2]) returns 6 --Explanation: Buy stocks when the price is 1 and sell them when the price is 7.   
MaxGain([5, 4, 3, 2, 1]) returns 0

In [781]:
def MaxGain (lst):
    if lst.index(max(lst)) > lst.index(min(lst)):
        gain = max(lst) - min(lst)
    else:
        gain = 0
        
    return gain

MaxGain([3, 4, 1, 5, 7, 2])
MaxGain([5, 4, 3, 2, 1])

0

#### 21. Sort List of Lists
Description   
Build a function SortLL which sorts a list of lists by their last elements.   

Examples   
SortLL([[1, 3, 5], [2, 4], [9, 7], [3]]) returns [[3], [2, 4], [1, 3, 5], [9, 7]]

In [783]:
def SortLL (lst):      
    mylist = sorted(lst, key=lambda x: x[-1])    
    return mylist   

SortLL([[1, 3, 5], [2, 4], [9, 7], [3]])

[[3], [2, 4], [1, 3, 5], [9, 7]]

In [782]:
lis = [[1, 3, 5], [2, 4], [9, 7], [3]]
sorted(lis, key=lambda x: x[-1])

[[3], [2, 4], [1, 3, 5], [9, 7]]

#### 22. Pascals Triangle
Description   
Build a function PascalsT which takes an integer n as an input and generate a n layer Pascals Triangle.   

Examples   
PascalsT(3) returns [[1], [1, 1], [1, 2, 1]]   
PascalsT(5) returns [[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]

In [80]:
# My solution 1
def pascalsTriangle(n):
    lst = []                                 # create a outter list
    for row in range(n):                     # row range from 0 to n-1. for n=5, row is (0,1,2,3,4)
        tempLst = []                         # create a temp innter list
        
        for col in range(row + 1):           # column range from 0 to row. for range(0,row+1), col is (0,1,...row)            
            if col == 0 or col == row:       # first and lst number in each row is 1     
                tempLst.append(1)                 
            else:                            # number = adding 2 numbers in a row above
                tempLst.append(lst[row-1][col-1] + lst[row-1][col])
                
        lst.append(tempLst)
        
    return lst

pascalsTriangle(5)

[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]

In [19]:
# My solution 2
def pascalsTriangle(n):
    lst = []                                 # create a outter list
    for row in range(n):                     # row range from 0 to n-1. for n=5, row is (0,1,2,3,4)
        tempLst = []                         # create a temp innter list
        
        for col in range(row + 1):           # column range from 0 to row. for range(0,row+1), col is (0,1,...row)            
            if col == 0 or col == row:       # first and lst number in each row is 1     
                tempLst.append(1)                 
            else:                            # number = adding 2 numbers in a row above
                tempLst.append(lst[row-1][col-1] + lst[row-1][col])
                
        lst.append(tempLst)
        
        #''''''''''''''''''''''''''''''''''''''''''''''''''''''
        # Adding Trangle shape with this list
        #''''''''''''''''''''''''''''''''''''''''''''''''''''''
        # add blank space in each row
        for col in range(n-row-1):
            print(" ", end="")

        # place each number into the trangle   
        print(tempLst, end=" ")
        print()  
        

pascalsTriangle(5)

    [1]
   [1, 1]
  [1, 2, 1]
 [1, 3, 3, 1]
[1, 4, 6, 4, 1]

In [42]:
# My solution 3
def pascalsTriangle(n):
    lst = []                                 # create a outter list
    for row in range(n):                     # row range from 0 to n-1. for n=5, row is (0,1,2,3,4)
        tempLst = []                         # create a temp innter list
        
        for col in range(row + 1):           # column range from 0 to row. for range(0,row+1), col is (0,1,...row)            
            if col == 0 or col == row:       # first and lst number in each row is 1     
                tempLst.append(1)                 
            else:                            # number = adding 2 numbers in a row above
                tempLst.append(lst[row-1][col-1] + lst[row-1][col])
                
        lst.append(tempLst)      
#     print(lst)
    
    ''''''''''''''''''''''''''''''''''''''
    # Adding Trangle shape with this list
    ''''''''''''''''''''''''''''''''''''''
    for row in range(n):
        # add blank space in each row
        for col in range(n-row-1):
            print(format(" ","<2"), end="")

        # place each number into the trangle
        for col in range(row+1):
            print(format(lst[row][col], "<4"), end="")
        print()
    

pascalsTriangle(10)

                  1
                1   1
              1   2   1
            1   3   3   1
          1   4   6   4   1
        1   5   10  10  5   1
      1   6   15  20  15  6   1
    1   7   21  35  35  21  7   1
  1   8   28  56  70  56  28  8   1
1   9   36  84  126 126 84  36  9   1

In [791]:
def pascalsTriangle(n): 
    tree = [[1]] #first row is always just 1
    for x in range(1, n): #for every other row:
        m = [1] #it always starts with 1
        for y in range(1, x): #for all the others:
            m.append(tree[x-1][y-1] + tree[x-1][y]) #work out what the number is
        m.append(1) #it always ends in 1
        tree.append(m) #add the row on
    return tree

pascalsTriangle(5)

[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]

In [573]:
def pascalsTriangle(n):   
    triangle = []
    row = []
    prev_row = []
    for i in range(0, n + 1):
        row = [j > 0 and j < i - 1 and i > 2 and 
               prev_row[j-1] + prev_row[j] or 1 for j in range(0, i)]
        prev_row = row
        triangle += [row]
    return triangle[1:]

pascalsTriangle(5)

[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]

In [533]:
pascal = [[1]]
num = int(input("Number of iterations: "))
print(pascal[0]) # the very first row
for i in range(1,num+1):
    pascal.append([1]) # start off with 1
    for j in range(len(pascal[i-1])-1):
    # the number of times we need to run this loop is (# of elements in the row above)-1
        pascal[i].append(pascal[i-1][j]+pascal[i-1][j+1])
        # add two adjacent numbers of the row above together
    pascal[i].append(1) # and cap it with 1
    print(pascal[i])

Number of iterations: 6
[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]
[1, 6, 15, 20, 15, 6, 1]

In [784]:
# Pascal's Triangle in Python 

# To solve this, we will follow these steps −
# for i in range 0 to n+1, do
# for j in range 0 to n-i, do
# print one blank space
# C := 1
# for j in range 1 to i+1, do
# print C then a single blank space
# C := quotient of (C *(i - j) / j)
# go to next line

def solve(n):
   for i in range(n+1):
      for j in range(n-i):
         print(' ', end='')

      C = 1
      for j in range(1, i+1):
         print(C, ' ', sep='', end='')
         C = C * (i - j) // j
      print()

n = 5
solve(n)

    1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1

In [788]:
#Convert backward slash to forward slash in python

import os 

pathA = r'C:\Users\jzhou01\My Files\Data Science\Titanic Dataset\Data Input\test.csv'
newpathA = pathA.replace(os.sep,'/')
print(newpathA)

pathA = r'C:\Users\jzhou01\My Files\Data Science\Titanic Dataset\Data Input\train.csv'
newpathA = pathA.replace(os.sep,'/')
print(newpathA)

pathA = r'C:\Users\jzhou01\My Files\Data Science\Boot Camps\The Data Incubator Bootcamp\Coding Challenge'
newpathA = pathA.replace(os.sep,'/')
print(newpathA)

C:/Users/jzhou01/My Files/Data Science/Titanic Dataset/Data Input/test.csv
C:/Users/jzhou01/My Files/Data Science/Titanic Dataset/Data Input/train.csv
C:/Users/jzhou01/My Files/Data Science/Boot Camps/The Data Incubator Bootcamp/Coding Challenge

#### 23.  All Red
Description   
Build a function AllRed that takes a list of strings as input, returns a boolean indicating whether all the strings containing word "red".   

Examples   
AllRed(["red hat", "a pair of red shoes", "three red apples"]) returns True   
AllRed(["red hat", "white shirt", "black eyes"]) returns False   
AllRed([]) returns False

In [104]:
def AllRed (lst):
    bl = False
    for item in lst:        
#         print (item.lower().split())  
        for i in item.split(): 
            if i == 'red':
                bl = True
                break
            else:
                bl = False
#         print(bl)
    return bl

AllRed(["red hat", "a pair of red shoes", "three red apples"])

True

In [65]:
AllRed(["red hat", "white shirt", "black eyes"])

False

In [793]:
AllRed([])

False

#### 24. Reverse String
Description   
Build a function RevStr to reverse a string.   

Examples   
RevStr("abcd") returns "dcba"

In [792]:
def RevStr (strg):
    return strg[::-1]
    
RevStr("abcd")

'dcba'

#### 25. Reverse Sentence
Description   
Build a function RevSen to reverse a sentence.   

Examples   
RevSen("we are all friends") returns "friends all are we”

In [794]:
def RevSen (strn):
    st = strn.split()[::-1]   
    s = ' '.join(st)
    return s
    
RevSen("we are all friends")

'friends all are we'

#### 26. Reverse Words
Description   
Build a function RevWords to reverse each word of a sentence.   

Examples   
RevWords("we are all friends") returns "ew era lla sdneirf"

In [189]:
def RevWords (strn):      
    st = strn.split()
    st2 = []
    for i in st:
        st2.append(i[::-1])  
        
    s = ' '.join(st2)
    return s

RevWords("we are all friends")

'we are all friends'

In [795]:
lst = [2,4,7,9]
lst.reverse()
print(lst)

[9, 7, 4, 2]

#### 27. Capitalize First Letters
Description   
Build a function CapLett to capitalize the first letter of each word in a sentence.   
 
Examples   
CapLett("we are all friends") returns "We Are All Friends"

In [199]:
def CapLett (strn):
    s = ' '.join(strn[0].upper() + strn[1:] for strn in strn.split())  
    return s    


CapLett("we are all friends")

'We Are All Friends'

In [796]:
def CapLett (strn):
    return strn.title() 

CapLett("we are all friends")

'We Are All Friends'

#### 28. Remove Punctuations
Description   
Build a function RmPunct to remove punctuations from a string.   

Examples   
RmPunct("He said, that is great!!") returns "He said that is great"

In [203]:
# remove punctuation from a string
import re
def RmPunct (strn):
    res = re.sub(r'[^\w\s]', '', strn)
    return res

RmPunct("He said, that is great!!")

'He said that is great'

In [212]:
import string

def RmPunct (s):    
    table = str.maketrans(dict.fromkeys(string.punctuation))  # OR {key: None for key in string.punctuation}
    new_s = s.translate(table)    
    return new_s

RmPunct("He said, that is great!!")

'He said that is great'

In [797]:
import string
def RmPunct (s): 
    punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
    for ele in s:
        if ele in punc:
            s = s.replace(ele, "")
    
    return s

RmPunct("He said, that is great!!")

'He said that is great'

#### 29. N Grams
Description   
Build a function NGram which takes a string s and an integer n as inputs, returns a list of n grams of s.   

Examples   
NGram("techlent", 2) returns ["te", "ec", "ch", "hl", "le", "en", "nt"]   
NGram("abc", 3) returns ["abc"]   
NGram("abc", 4) returns [   ]   
NGram("abc", 1) returns ["a", "b", "c"]

In [241]:
# N Grams
def NGram (s,n):
    lst = []
    for i in range(len(s)):
        if i+n <= len(s):
            lst.append(s[i:i+n])
    return lst
           
NGram("techlent", 2)

['te', 'ec', 'ch', 'hl', 'le', 'en', 'nt']

In [251]:
# NGram("abc", 3)    # returns ["abc"]
NGram("abc", 4)      # returns [   ]
# NGram("abc", 1)    # returns ["a", "b", "c"]

[]

#### 30. Palindrome
Description    
Build a function isPalindrome which takes a string as an input and returns boolin value telling whether the string is a palindrome.

sample   
isPalindrome("abcba") returns True   
isPalindrome("abba") returns True    
isPalindrome("a") returns True   
isPalindrome("") returns True    
isPalindrome("abcd") returns False

In [252]:
# Palindrome
# Build a function isPalindrome which takes a string as an input and returns boolin value 
# telling whether the string is a palindrome.

# isPalindrome("abcba") returns True
# isPalindrome("abba") returns True
# isPalindrome("a") returns True
# isPalindrome("") returns True
# isPalindrome("abcd") returns False

def isPalindrome (strn):    
    return strn[::-1] == strn
    
isPalindrome("abcba")

True

#### 31. Letter Palindrome
Description
Build a function LettPalind to determine a string is a palindrome or not. We only consider letters this time.

Examples    
LettPalind("909@,.") returns True     
LettPalind("He is Sieh!") returns True     
LettPalind("His name is Sieh.") returns False

In [325]:
# Examples
# LettPalind("909@,.") returns True
# LettPalind("He is Sieh!") returns True
# LettPalind("His name is Sieh.") returns False

import re
def LettPalind(strn):
    # remove puncuation
    #     res = re.sub(r'[^\w\s]', '', strn) 
    # remove space
    #     res = re.sub(r'[ ]', '', res)
    # remove space
    #     for ele in res:
    #         if ele == " ":
    #             res = res.replace(ele, "")

    # remove punctuation and space and special charactor
    res = re.sub('[^A-Za-z0-9]+', '', strn).lower()
    return  res == res[::-1]

LettPalind("909@,.")

True

In [282]:
import re
a='rasd\nsa sd'
print(re.findall(r'[^\s\n\t]+',a))
# => [' ']

['rasd', 'sa', 'sd']

#### 32. Valid Parenthesis
Description    
Build a function ValidParenthesis to determine the parenthesis in a string are valid.

Examples    
ValidParenthesis("((()))()") returns True    
ValidParenthesis("()()()") returns True    
ValidParenthesis("()()()(") returns False    
ValidParenthesis("((())))") returns False

In [336]:
#### Valid Parenthesis
# Description
# Build a function ValidParenthesis to determine the parenthesis in a string are valid.

# Examples
# ValidParenthesis("((()))()") returns True
# ValidParenthesis("()()()") returns True
# ValidParenthesis("()()()(") returns False
# ValidParenthesis("((())))") returns False

def ValidParenthesis (strn):
    count1 = 0
    count2 = 0
    for ele in strn:
        if ele == '(':
            count1 += 1
        elif ele == ')':
            count2 += 1
        else:
            pass
    return count1 == count2
    
ValidParenthesis("((()))()")

True

#### 33. Key Value Switch
Description:    
Build a function kvSwitch to switch the keys and values of a dictionary.    

Examples:     
kvSwitch({"a": "1", "b": "2", "c": "3"}) returns {"1": "a", "2": "b", "3": “c"}

In [430]:
# Examples
# kvSwitch({"a": "1", "b": "2", "c": "3"}) returns {"1": "a", "2": "b", "3": “c"}
                                                  
def kvSwitch (d):
#     print(d.keys(), d.values(), d.items())
#     myDict = { k:v for (k,v) in zip(d.keys(), d.values())}  
#     return  myDict       

    Dict1 = {k:v for (k,v) in zip(d.values(), d.keys())}  
    return  Dict1  
                                                  
kvSwitch({"a": "1", "b": "2", "c": "3"})

{'1': 'a', '2': 'b', '3': 'c'}

#### 34. Rank Keys by Values
Description:    
Build a function RankK which takes a dictionary as input returns a list of keys which sorted by their values.

Examples:    
RankK({"a": 7, "b": 5, "c": 9}) returns ["b", "a", "c"]

In [432]:
# Examples
# RankK({"a": 7, "b": 5, "c": 9}) returns ["b", "a", "c"]

def RankK(d):  
    MyDict = dict(sorted(d.items(), key=lambda x: x[1])) 
    return list(MyDict.keys())    
    

RankK({"a": 7, "b": 5, "c": 9}) 

# TypeError: 'dict' object is not callable while using dict( )
# the issue is likely that you have a variable called dict. The solution to this would be to run:
# del dict

['b', 'a', 'c']

In [433]:
# Creates a sorted dictionary (sorted by key)
from collections import OrderedDict
def RankK(d):  
    dict1 = OrderedDict(sorted(d.items()))
    print(dict1)

RankK({"a": 7, "b": 5, "c": 9})

OrderedDict([('a', 7), ('b', 5), ('c', 9)])

In [438]:
def RankK(d):  
    print('Without sort: ', d)
    sorted_mydict = dict(sorted(d.items(), key=lambda item: item[1]))
    print('After sort: ', sorted_mydict)
    print(type(sorted_mydict))

RankK({"a": 7, "b": 5, "c": 9})

Without sort:  {'a': 7, 'b': 5, 'c': 9}
After sort:  {'b': 5, 'a': 7, 'c': 9}
<class 'dict'>

In [429]:
del dict

#### 35. Character Frequency
Description:    
Build a function ChaFreq to calculate the frequencies of characters in a string. Store the results in a dictionary.

Examples:    
ChaFreq("techlent") returns {"c": 1, "e": 2, "h": 1, "l": 1, "n": 1, "t": 2}

In [482]:
# Character Frequency
# Description
# Build a function ChaFreq to calculate the frequencies of characters in a string. Store the results in a dictionary.

# Examples
# ChaFreq("techlent") returns {"c": 1, "e": 2, "h": 1, "l": 1, "n": 1, "t": 2}

def ChaFreq (strn):     
#     for x in strn:
#         k1.append(x)
#     for x in strn:
#         v1.append(strn.count(x)) 

    k1 = [x for x in strn]
    v1 = [strn.count(y) for y in strn]       
 
    Mydict = {k:v for (k,v) in zip(k1, v1)}
    Sdict = dict(sorted(Mydict.items(), key=lambda y: y[1]))
   
    return Sdict   

ChaFreq("techlent")

{'c': 1, 'h': 1, 'l': 1, 'n': 1, 't': 2, 'e': 2}

#### 36. Unique Only
Description:    
Build a function UniqueOnly to detect whether a string only contains unique characters.   

Examples:    
UniqueOnly("techlent") returns False    
UniqueOnly("abcde") returns True

In [519]:
# Unique Only
# Description
# Build a function UniqueOnly to detect whether a string only contains unique characters.

# Examples
# UniqueOnly("techlent") returns False
# UniqueOnly("abcde") returns True

def UniqueOnly(strn):
    key1 = all([strn.count(x) == 1 for x in strn])
    return key1

UniqueOnly("techlent")

False

In [510]:
# to check for False list 
# using naive method
test_list = [False, False, False, False]
  
# printing original list
print ("The original list is : " + str(test_list))
  
flag = 0  
# using naive method 
# to check for False list 
for i in test_list :
    if i == True :
        flag = 1
        break
  
# printing result
print ("Is List completely false ? : " +  str(bool(not flag)))

The original list is : [False, False, False, False]
Is List completely false ? : True

In [512]:
# to check for False list 
# using all()
test_list = [False, False, False, False]
  
# printing original list
print ("The original list is : " + str(test_list))
  
flag = 0
  
# using all()
# to check for False list 
res = all(not i for i in test_list)
  
# printing result
print ("Is List completely false ? : " +  str(res))

The original list is : [True, False, False, False]
Is List completely false ? : False

In [520]:
# Python3 code to demonstrate 
# to check for False list 
# using any()
  
# initializing list  
test_list = [False, False, False, False]
  
# printing original list
print ("The original list is : " + str(test_list))
  
# using any()
# to check for False list 
res = not any(test_list)
  
# printing result
print ("Is List completely false ? : " +  str(res))

The original list is : [False, False, False, False]
Is List completely false ? : True

#### 37. Same Pattern
Description:   
Build a function SamePattern takes two strings as inputs and determines whether they are in the same pattern.

Examples:    
SamePattern("egg", "zoo") returns True    
SamePattern("abb", "ab") returns False    
SamePattern("hello", "agree") returns False    
SamePattern("aaa", "abc") returns False   
SamePattern("abc", "aaa") returns False

In [540]:
# Same Pattern
# Description
# Build a function SamePattern takes two strings as inputs and determines whether they are in the same pattern.

# Examples
# SamePattern("egg", "zoo") returns True
# SamePattern("abb", "ab") returns False
# SamePattern("hello", "agree") returns False
# SamePattern("aaa", "abc") returns False
# SamePattern("abc", "aaa") returns False

def SamePattern(s1, s2):
    if len(s1) == len(s2):
        k1 = [s1.count(x1) for x1 in s1]
        k2 = [s2.count(x2) for x2 in s2]
        return k1 == k2
    else:
        return False      

SamePattern("egg", "zoo")

True

#### 38.  Anagrams
Description: 
Build a function anagrams to determine whether two given strings are anagrams.

Examples:    
anagrams("abc", "cba") returns True   
anagrams("ab", "abc") returns False   
anagrams("abccba", "aabbbc") returns False

In [548]:
# Anagrams
# Description
# Build a function anagrams to determine whether two given strings are anagrams.

# Examples
# anagrams("abc", "cba") returns True
# anagrams("ab", "abc") returns False
# anagrams("abccba", "aabbbc") returns False

def anagrams (s1, s2):
    return s1 == s2[::-1]
    
anagrams("abc", "cba")

True

#### 39. Target Sum
Description:  
Build a function TargetSum which takes a list and a target number as inputs. If there are two numbers in the list whose sum equals to the target number, the function returns the indice of the two numbers in list, otherwise returns -1.

Examples:   
TargetSum([1, 2, 5, 9, 8, 11], 6) returns [0, 2] (1+5=6)   
TargetSum([1, 2, 5, 9, 8, 11], 11) returns [1, 3]   
TargetSum([1, 2, 5, 9, 8, 11], 5) returns -1   
TargetSum([1, 2, 5, 9, 8, 11], 14) returns [2, 3]

In [748]:
# Target Sum
# Description
# Build a function TargetSum which takes a list and a target number as inputs. 
# If there are two numbers in the list whose sum equals to the target number, 
# the function returns the indice of the two numbers in list, otherwise returns -1.

def TargetSum (lst, n):
    btest = False
    key = [x for x in range(0,len(lst))]
    dNum = {k:v for (k,v) in zip(key, lst)}
           
#     d = [k for k in dNum if v + dNum[k] == n]
#     d = [k if (v + dNum[k] == n) else "" for k in dNum for v in dNum.values()]

    for k,v in dNum.items():   
        for i in range(k + 1, len(dNum)):        
            if v + dNum[i] == n:
                res = [k, i] 
                btest = True
            else:
                pass            
          
    return res if btest else -1
    
TargetSum([1, 2, 5, 9, 8, 11], 6)
# TargetSum([1, 2, 5, 9, 8, 11], 11) 
# TargetSum([1, 2, 5, 9, 8, 11], 5) 
# TargetSum([1, 2, 5, 9, 8, 11], 14)

[0, 2]